.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
}

#sous-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#sous-menu li a  {
  text-decoration: none;
  color: black;
}


