.container {
  width: 80%;
  margin: auto;
}

#ul-ticket {
  display: flex;
  gap: 20px;
  padding: 0px;
}

#ul-ticket li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 340px;
}

#ul-ticket li p {
  font-weight: 600;
  font-family: 'inter',sans-serif;
}

#ul-ticket li p span {
  font-weight: 400;
}

.tickets h1 {
  font-family: 'poppins',sans-serif;
}

.title {
  display: flex;
  justify-content: space-between;
}

.zone {
  padding-top: 20px;
}

.zone li {
  padding-top: 5px;
  list-style: none;
  /* display: none; */
}

.zone li  {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#cat {
  width: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
}


