<app-header></app-header>
<div class="tickets">
  <div class="container">
    <div class="title">
      <h1>Liste tickets</h1>

      <div class="zone">
        <button id="cat" (click)="CategoryView()">
          Category
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-down"><path d="M15 6v6h4l-7 7-7-7h4V6h6z"/></svg>
        </button>
        <div *ngIf="showCategory">
          <li (click)="affichageTicket()">Tous</li>
          <li *ngFor="let cat of category" (click)="categoryChoice(cat.name)">{{cat.name}}</li>
        </div>
      </div>
    </div>

    <div class="listeTicket">
      <ul *ngIf="tickets && tickets.length > 0; else noTickets" id="ul-ticket">
        <li *ngFor="let ticket of tickets ; let i = index">
          <div class="two">
            <p>Nom:<span>{{ticket.name}}</span></p>
            <p>Quantity:<span>{{ticket.stockQuantity}}</span></p>
          </div>
          <div class="one">
            <p>Category:<span>{{ticket.category?.name}}</span>
            <p>Prix:<span>{{ticket?.price}}</span>
          </div>
        </li>
      </ul>

      <ng-template #noTickets>
        <p>pas de tickets disponible</p>
      </ng-template>
      
    </div>
  </div>

</div>