<app-header></app-header>
<div class="tickets">
  <div class="container">
    <h1>Liste tickets</h1>

    <div class="listeTicket">
      <ul *ngIf="tickets && tickets.length > 0; else noTickets" id="ul-ticket">
        <li *ngFor="let ticket of tickets ; let i = index">
          <div class="two">
            <p>Nom:<span>{{ticket.name}}</span></p>
            <p>Quantity:<span>{{ticket.stockQuantity}}</span></p>
          </div>
          <div class="one">
            <p>Category:<span>{{ticket.category?.name}}</span>
            <p>Prix:<span>{{ticket?.price}}</span>
          </div>
        </li>
      </ul>

      <ng-template #noTickets>
        <p>pas de tickets disponible</p>
      </ng-template>
      
    </div>
  </div>

</div>